.wrapper {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px 40px;
}

.h1 {
  font-size: 36px;
  text-align: center;
}

.inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  /* background: salmon; */
  margin: 30px 0;
}

.inputBoxInput {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.inputBoxInput::placeholder {
  color: white;
}

.icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.forgotBtn {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.forgotBtn:hover {
  text-decoration: underline;
}

.signinBtn {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.registerLink {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.registerBtn {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.registerBtn:hover {
  text-decoration: underline;
}
